<!DOCTYPE html>
<html class="no-js" lang="fr">
{{ template "theme/partials/head.html" . }}
<body id="top">
{{ template "theme/partials/header.html" . }}
    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="images/hero-bg.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=top>
        <div class="shadow-overlay"></div>
        <div class="home-content">
            <div class="row home-content__main">
                <h1>
                Chez Webgardener<br>
                </h1>
                <p>
                on installe des services en ligne avec du logiciel libre. 
                </p>
            </div> <!-- end home-content__main -->
        </div> <!-- end home-content -->

        <ul class="home-sidelinks">
            <li><a class="smoothscroll" href="#services">Services</a></li>
            <li><a class="smoothscroll" href="#about">A propos</a></li>
            <li><a  class="smoothscroll" href="#contact">Contact</a></li>
        </ul> <!-- end home-sidelinks -->

         <ul class="home-social">
            <li><a href="https://github.com/Webgardener">
                <i class="fab fa-github"></i>
                <span class="home-social-text">Github</span>
            </a></li>
            <li><a href="https://gitlab.com/Webgardener">
                <i class="fab fa-gitlab"></i>
                <span class="home-social-text">Gitlab</span>
            </a></li>
            <li><a href="https://www.linkedin.com/in/iam-thomas-weiss/">
                <i class="fab fa-linkedin"></i>
                <span class="home-social-text">LinkedIn</span>
            </a></li>
        </ul> <!-- end home-social -->

        <a href="#about" class="home-scroll smoothscroll">
            <span class="home-scroll__text">Scroll Down</span>
            <span class="home-scroll__icon"></span>
        </a> <!-- end home-scroll -->

        <a href="#about" class="home-scroll smoothscroll">
            <span class="home-scroll__text">Scroll Down</span>
            <span class="home-scroll__icon"></span>
        </a> <!-- end home-scroll -->

    </section> <!-- end s-home -->

    <!-- services
    ================================================== -->
    <section id='services' class="s-services light-gray">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Services</h3>
                <h1 class="display-1">Nous intégrons des logiciels libres adaptés à votre contexte.</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row" data-aos="fade-up">
            <div class="col-full">
                <p class="lead">
                Gestion, Site web, Business Intelligence... Nous intégrons les logiciels libres dont vous avez besoin.
                </p>
            </div>
        </div> <!-- end about-desc -->

        <div class="row services-list block-1-3 block-m-1-2 block-tab-full">

            <div class="col-block service-item " data-aos="fade-up">
                <div class="service-icon service-icon--brand-identity">
                    <i class="icon-tv"></i>
                </div>
                <div class="service-text">
                    <h3 class="h4">Gestion</h3>
                    <p>
                    <a href="https://www.dolibarr.fr/">Dolibarr</a> est un Progiciel de gestion intégré modulaire qui s'installe sur un serveur web (donc accessible à distance par l'intermédiaire d'un navigateur). Il est possible d'activer de nombreux modules pour répondre aux besoins de votre organisation (Banques et caisses, Mailing, gestion des adhérents etc.).
                    </p>
                    <figure>
                    <img src="img/dolibarr.jpg" alt="Capture écran du logiciel Dolibarr en action">
                    <figcaption>Interface de Dolibarr</figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon  service-icon--illustration">
                    <i class="icon-group"></i>
                </div>
                <div class="service-text">
                    <h3 class="h4">Site web</h3>
                    <p>
                    Webgardener possède une longue expérience avec des logiciels libres comme SPIP ou Wordpress.<br><br> Depuis, quelques années, nous utilisons et apprécions les générateurs de site web statiques comme Jekyll et Hugo.
                    <!-- put image -->
                    </p>
                    <figure>
                    <img src="img/wordpress.png" alt="Capture écran du logiciel Wordpress">
                    <figcaption>Interface de Wordpress</figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon  service-icon--web-design">
                    <i class="icon-earth"></i>
                </div>
                <div class="service-text">
                    <h3 class="h4">Business Intelligence</h3>
                    <p>Les organisations doivent traiter, manipuler et visualiser leurs données.<br> Nous avons testé et nous aimons le logiciel <a href="https://github.com/apache/incubator-superset" target="_blank">Apache Superset</a> qui permet de visualiser des données provenant de nombreuses bases de données. <br>Avantage de taille : il est également possible d'y importer et de traiter des données tabulaires au format .csv.
                    <!-- put image -->
                    </p>
                    <figure>
                    <img src="img/superset.jpg" alt="Capture écran du logiciel Apache Superset en action">
                    <figcaption>Exemple de dashboard pour Apache Superset</figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon service-icon--product-strategy">
                    <i class="icon-cube"></i>
                </div>
                <div class="service-text">
                    <h3 class="h4">Forum</h3>
                    <p>Nous recommandons le logiciel <a href="https://www.discourse.org/" target="_blank">Discourse</a>. C'est un logiciel libre pour forum de discussions qui intègre un système de liste de diffusion.
                     Discourse inclue des fonctionnalités tels que le défilement infini, les mises à jour en direct, le développement des relations, et le glisser-déposer des pièces jointes.
                    </p>
                    <figure>
                    <img src="img/discourse.png" alt="Capture écran du logiciel Discourse">
                    <figcaption>Interface de Discourse</figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon  service-icon--ui-design">
                    <i class="icon-window"></i>
                </div>
                <div class="service-text">
                    <h3 class="h4">Wiki</h3>
                    <p>
                     On ne présente plus Wikipédia, le plus connu des wiki. <br><br>Wikipédia utilise le logiciel <a href="https://www.mediawiki.org/wiki/MediaWiki" target="_blank">MediaWiki</a>, utilisé par l’ensemble des projets de la Wikimedia Foundation et par de nombreux autres wikis.
                    </p>
                    <figure>
                    <img src="img/mediawiki.png" alt="Capture écran du logiciel Mediawiki">
                    <figcaption>Page d'accueil type d'un Wiki utilisant Mediawiki</figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon service-icon--mobile-dev">
                    <i class="icon-lego-block"></i>
                </div>
                <div class="service-text">
                    <h3 class="h4">Réseau social</h3>
                    <p>
                    diaspora* est à la fois une application web de réseau social, et le réseau social distribué qui repose sur cette application. Chaque utilisateur du réseau peut choisir de s'inscrire sur un des serveurs (appelés pods) diaspora* déjà existants ou de créer le sien.
                    </p>
                    <figure>
                    <img src="img/diaspora.png" alt="Capture écran du logiciel Diaspora">
                    <figcaption>Interface de diaspora*</figcaption>
                    </figure>
                </div>
            </div>

        </div> <!-- end services-list -->

    </section> <!-- end s-services -->



    <!-- about
    ================================================== -->
    <section id='about' class="s-about">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">A Propos</h3>
                <h1 class="display-1">Nous accompagnons les organisations qui font le choix du logiciel libre.</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row" data-aos="fade-up">
            <div class="col-full">
                <p class="lead">
               Enthousiaste des logiciels libres depuis près de quinze années, Webgardener met au service de ses clients son expertise et son engagement.<br>
                </p>
            </div>
        </div> <!-- end about-desc -->
<!--
        <div class="row">
            <div class="about-process process block-1-2 block-tab-full">

                <div class="process__vline-left"></div>
                <div class="process__vline-right"></div>

                <div class="col-block process__col" data-item="1" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Indépendance</h4>
                        <p>
                       Vous conservez la maîtrise de vos outils et de vos données sans être captif d’un éditeur et/ou d'un géant du web.
                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="2" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Pérennité et interopabilité</h4>
                        <p>
                        Peut-être avez-vous déjà récupéré des fichiers sans pouvoir les ouvrir ? Le logiciel nécessaire était peut-être obsolète ou vous n'aviez pas la licence nécessaire ?<br>
                        Les logiciels libres utilisent des formats de données normalisés qui permettent l’interopérabilité et la conservation des données à long terme.
                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="3" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Liberté</h4>
                        <p>
                        Vous être libre de changer de prestataire à tout moment et sans changer de logiciel.<br>
                        </p>
                    </div>
                </div>
                <div class="col-block process__col" data-item="4" data-aos="fade-up">
                    <div class="process__text">
                        <h4>Licences gratuites</h4>
                        <p>
                        Avec les logiciels libres, les licences sont gratuites. L'investissement se situe au niveau de l'intégration du logiciel. <br>
                        L'intégration d'un logiciel libre peut être réalisée en interne ou par un prestataire externe.
                        </p>
                    </div>
                </div>

            </div> end process 

        </div>  --> 

    </section> <!-- end s-about -->

     <!-- works
    ================================================== -->
    <section id='works' class="s-works">
        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Méthodologie</h3>
                <h1 class="display-1">Nous proposons une méthodologie adaptée à votre contexte.</h1>
            </div>
        </div> <!-- end section-header -->


        <div class="testimonials-wrap" data-aos="fade-up">

            <div class="row testimonials">

                <div class="col-full testimonials__slider">

                    <div class="testimonials__slide">
                        <img src="img/cadrage.jpg" alt="Icon Phase de cadrage" class="testimonials__avatar">
                        <p>
                        Afin de construire votre projet sur des bases saines, une phase de cadrage est nécessaire. Elle permet de détailler les objectifs du projet, les délais à respecter, les limites du budget, les résultats attendus.
                        </p>
                        <div class="testimonials__author">
                            1. Cadrage
                            <span>Pourquoi et quoi ?</span>
                        </div>
                    </div> <!-- end testimonials__slide -->

                    <div class="testimonials__slide">
                        <img src="img/conception.png" alt="Icon phase de conception" class="testimonials__avatar">
                        <p>
                          La phase de conception permet de définir comment va se dérouler le projet : choix des technologies, choix de l'hébergement, découpage en plusieurs tâches, élaboration d'un planning.
                        </p>
                        <div class="testimonials__author">
                            2. Conception
                            <span>Comment ?</span>
                        </div>
                    </div> <!-- end testimonials__slide -->

                    <div class="testimonials__slide">
                        <img src="img/realisation.png" alt="icon Phase de réalisation" class="testimonials__avatar">
                        <p>
                          Nous réalisons les tâches définies dans la phase de conception et validons avec vous chaque étape de réalisation.
                        </p>
                        <div class="testimonials__author">
                            3. Réalisation
                            <span>Mise en oeuvre</span>
                        </div>
                    </div> <!-- end testimonials__slide -->
					<div class="testimonials__slide">
                        <img src="img/exploitation.png" alt="icon Phase de exploitation" class="testimonials__avatar">
                        <p>
                         C'est durant la phase d'exploitation que le produit est utilisé, maintenu et/ou entretenu. En fonction des outils utilisés, cette phase demande plus ou moins d'effort. Webgardener peut vous aider à trouver des solutions adaptées à vos besoins.
                        </p>
                        <div class="testimonials__author">
                            4. Exploitation
                            <span>Utilisation et maintenance</span>
                        </div>
                    </div> <!-- end testimonials__slide -->
                </div> <!-- end testimonials__slider -->
            </div> <!-- end testimonials -->
        </div> <!-- end testimonials-wrap -->
    </section> <!-- end s-works -->
    {{ template "theme/partials/footer.html" . }}
</body>
</html>
